@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");

.billing__container {
    padding: 3rem 5rem;
    margin-top: 0 !important;
    width: 100%;
    font-family: "Poppins";
    height: 100%;
    padding-left: 16rem !important;
    background-color: #f9fafc;
    .card {
        background: #ffffff;
        border-radius: 6px;
        .card__title {
            font-weight: 600;
            font-size: 1.2rem;
            font-family: "Poppins";
            margin-left: 0.6rem;
            color: #000000;
        }
        .plan__info {
            font-style: normal;
            font-family: "Poppins";
            font-weight: 400;
            font-size: 0.7rem;
            color: #676767;
            li {
                padding: 0.4rem 0.6rem;
            }
        }
        .card__footer {
            padding-top: 1rem;
            h5 {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 600;
                font-size: 1.2rem;
                padding-left: 1rem;
                color: #4154e8;
            }
            button {
                background: #4154e8;
                box-shadow: 0px 4px 45px rgba(65, 84, 232, 0.15);
                border-radius: 1.2rem;
                font-family: "Poppins";
                font-style: normal;
                font-weight: 700;
                font-size: 0.6rem;
                color: #ffffff;
            }
        }
        .activePlan {
            text-align: center;
            color: #ffffff;
            background-color: #4154e8;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 0.9rem;
            min-height: 1.5rem;
            text-transform: uppercase;
        }
    }
    .card0 {
        border-top: 4px solid #4154e8;
    }
    .card100 {
        border-top: 4px solid #eb7aa1;
    }
    .card150 {
        border-top: 4px solid #72d9c8;
    }
}
@keyframes close {
    from {
        padding-left: 16rem;
    }
    to {
        padding-left: 8rem;
    }
}
@keyframes open {
    from {
        padding-left: 8rem;
    }
    to {
        padding-left: 16rem;
    }
}
.close_transition {
    animation-name: close;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.open_transition {
    animation-name: open;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
