@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");
body {
    background-color: #f9fafc;
}
.tab__container {
    font-family: "Poppins";
    .tab_bar {
        background-color: white;
        padding-top: 0.3rem;
        padding-left: 3rem;
    }
    .Mui-disabled,
    .MuiTabs-scrollButtons {
        display: none;
    }
    .MuiTab-textColorPrimary {
        min-height: 0;
        padding: 0.2rem 0.4rem;
        font-weight: 600;
        color: #4d4d4d;
        font-size: 0.9rem;
        text-transform: capitalize;
    }
    .Mui-selected {
        color: #4154e8 !important;
    }
    .tab__container {
        min-height: 0;
        padding: 0.4rem 0.1rem;
        width: 100%;
    }
    .tab__label {
        font-family: "Poppins";
        .Mui-selected {
            color: #4154e8 !important;
        }
    }
    .tab__button {
        padding: 0rem 1.2rem;
        border-radius: 23px;
        font-weight: 600;
        font-family: "Poppins";
        font-size: 0.7rem;
        text-transform: capitalize;
        color: #ffffff;
        margin-bottom: 0.6rem;
        margin-left: 1rem;
    }
    .danger {
        background: #c40a0a;
    }
    .danger:hover {
        background: #c40a0a;
    }
    .primary {
        background: #4154e8;
    }
    .primary:hover {
        background: #4154e8;
    }
    .white {
        background-color: white;
        color: #4154e8;
    }
    .white:hover {
        color: white;
    }
}
