@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0&display=swap");
.chatbot__container {
    border-radius: 6px;
    min-height: 85vh;
    .chatbot-header__container {
        background-color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #4154e8;
        color: white;
        width: 100%;
        min-height: 3rem;
        position: relative;
        .closeIcon {
            position: absolute;
            cursor: pointer;
            top: 30%;
            font-size: 1.3rem;
            right: 5%;
            color: #494949;
            color: white;
        }
        p {
            font-family: "Poppins";
            padding: 0.8rem;
            font-style: normal;
            font-weight: 600;
            font-size: 0.9rem;
            text-align: center;
            span {
                font-size: 0.7rem;
                font-weight: 500;
            }
        }
    }
    .chatbot-message__container {
        padding: 1rem;
        .message__container {
            p {
                font-family: "Poppins";
                font-style: normal;
                padding: 0.4rem 1.5rem;
                font-weight: 500;
                font-size: 0.8rem;
                color: #494949;
                width: fit-content;
                border-radius: 0.6rem;
                margin-bottom: 1.5rem;
                text-align: center;
            }
        }
        .incoming {
            p {
                background-color: white;
                color: #494949;
            }
        }
        .outgoing {
            p {
                background-color: #4154e8;
                color: white;
            }
        }
    }
    .suggestions__container {
        background-color: white;
        margin-left: 0 !important;
        .suggest_btn {
            text-align: center;
            width: 100%;
            background-color: #4154e8;
            font-family: "Poppins";
            font-style: normal;
            font-size: 0.8rem;
            text-transform: capitalize;
        }
    }
    .input__container {
        margin: 1rem 0.6rem;
        border-radius: 1rem;
        background-color: #fff;
        padding-bottom: 0.3rem;
        .uploadIcon {
            padding: 0.6rem;
            cursor: pointer;
            margin-left: 1rem;
            margin-right: 1rem;
            color: #4154e8;
            font-size: 1.5rem;
        }
        .sendIcon {
            padding: 0.6rem;
            cursor: pointer;
            margin-top: 0.2rem;
            margin-left: 1rem;
            margin-right: 1rem;
            color: #fff;
            font-size: 1rem;
            border-radius: 3rem;
            background-color: #4154e8;
        }
    }
    .footer {
        background: #4154e8;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        p {
            font-family: "Poppins";
            text-align: center;
            font-style: normal;
            font-weight: 500;
            font-size: 0.7rem;
            padding: 1rem;
            color: #ffffff;
        }
    }
}
