@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0&display=swap");

.basic-info__container {
    padding: 3rem 5rem;
    padding-left: 16rem;
    width: 100%;
    font-family: "Poppins";
    background-color: #f9fafc;
    .info__container {
        .title {
            font-weight: 600;
            font-size: 1.2rem;
            font-family: "Poppins";
            padding-left: 0.6rem;
            color: #000000;
        }
        .subtitle {
            font-weight: 500;
            padding-top: 1rem;
            font-size: 0.8rem;
            font-family: "Poppins";
            padding-left: 0.6rem;
            color: #565656;
        }
        .input__container {
            margin-top: 1rem;
            padding-left: 0.6rem;
            p {
                font-weight: 600;
                font-family: "Poppins";
                font-size: 0.8rem;
                padding-bottom: 0.2rem;
                color: rgba(0, 0, 0, 0.6);
            }
            .input__field {
                width: 100%;
                input {
                    padding: 0.6rem 0.8rem;
                    font-family: "Poppins";
                    font-size: 0.8rem;
                }
                margin: 0.6rem 0;
            }
            .btn__container {
                margin-top: 1rem;
                .btn {
                    background: #ffffff;
                    box-shadow: 0px 4px 45px rgba(118, 118, 118, 0.15);
                    border-radius: 20px;
                    font-weight: 700;
                    font-size: 0.6rem;
                    font-family: "Poppins";

                    color: #4154e8;
                    margin-left: 0.3rem;
                    text-transform: capitalize;
                    padding: 0.4rem 2rem;
                }
                .btn:hover {
                    background-color: #d9d9d9;
                }
                .save {
                    background-color: #4154e8;
                    color: #ffffff;
                }
                .save:hover {
                    background-color: #293ee1;
                }
            }
        }
    }
}
.chatbot-img__contianer {
    border: 1px solid white;
    border-radius: 10px;
    height: max-content;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.footer_btn {
    justify-content: flex-end;
    margin-top: 1rem;
    span {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 0.9em;
        color: #4154e8;
    }
}
.personalization__container {
    padding: 3rem 5rem;
    padding-left: 16rem;
    width: 100%;
    font-family: "Poppins";
    background-color: #f9fafc;
    .info__container {
        .title {
            font-weight: 600;
            font-size: 1.2rem;
            font-family: "Poppins";
            padding-left: 0.6rem;
            color: #000000;
        }
        .subtitle {
            font-weight: 500;
            padding-top: 1rem;
            font-size: 0.8rem;
            font-family: "Poppins";
            padding-left: 0.6rem;
            color: #565656;
        }
        .input__container {
            margin: 1rem 0;
            p {
                margin-bottom: 1rem;
                font-weight: 600;
                font-size: 0.8rem;
                font-family: "Poppins";
            }
            .color {
                height: 3rem;
                box-sizing: border-box;
                border-radius: 6px;
                margin: 0.3rem 0;
            }
            #Aquamarine {
                background: #72d9c8;
            }
            #MediumSlateBlue {
                background: #828ff3;
            }
            #Blue {
                background: #4154e8;
            }
            #LightPink {
                background: #eb7aa1;
            }
            #YellowGreen {
                background: #c3e200;
            }
            #MidnightBlue {
                background: #071136;
            }
            #IndianRed {
                background: #af6969;
            }
            #Red {
                background: #c30a0a;
            }
            #Orange {
                background: #ffa800;
            }
            #Gold {
                background: #ffef61;
            }
            #Pink {
                background: #ff9999;
            }
            #Purple {
                background: #8432aa;
            }
            .color-picker__container {
                margin: 1rem 0;
                .color-picker {
                    width: 3rem;
                    border-radius: 6px;
                    input {
                        height: 3rem;
                        border-radius: 6px;
                    }
                }
            }
            .sub_title {
                font-weight: 500;
                font-size: 0.8rem;
                font-family: "Poppins";
                color: #565656;
            }
            .avtar-input__container {
                margin-top: 0.6rem;
                .box {
                    background: #ffffff;
                    border: 1px dashed #bebebe;
                    border-radius: 12px;
                    width: 100%;
                    height: 10rem;
                    .upload_icon {
                        color: #000;
                        margin-top: 1rem;
                        font-size: 2rem;
                    }
                    p {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 0.8rem;
                        margin-top: 1rem;
                        color: #111111;
                    }
                    span {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 0.7rem;
                        color: #111111;
                    }
                    .btn {
                        background: #ffffff;
                        box-shadow: 0px 4px 45px rgba(118, 118, 118, 0.15);
                        border-radius: 20px;
                        font-weight: 700;
                        font-size: 0.6rem;
                        font-family: "Poppins";

                        color: #4154e8;
                        margin-left: 0.3rem;
                        text-transform: capitalize;
                        padding: 0.4rem 2rem;
                    }
                    .save {
                        background-color: #4154e8;
                        color: #ffffff;
                    }
                    .save:hover {
                        background-color: #293ee1;
                    }
                }
                margin-bottom: 1rem;
            }
        }
    }
}
@keyframes close {
    from {
        padding-left: 16rem;
    }
    to {
        padding-left: 8rem;
    }
}
@keyframes open {
    from {
        padding-left: 8rem;
    }
    to {
        padding-left: 16rem;
    }
}
.close_transition {
    animation-name: close;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.open_transition {
    animation-name: open;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
