@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0&display=swap");

body {
    background-color: #f9fafc;
}

.navbar__container {
    padding: 0.6rem 2rem;
    font-family: "Poppins";
    background-color: white;
    margin-bottom: 0.2rem;

    .logo {
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        color: #252525;
        font-family: "Poppins";

        .vl {
            width: 33px;
            margin-left: 1rem;
            height: 0px;
            border: 2px solid #72d9c8;
            transform: rotate(90deg);
            margin-right: 1.5rem;
        }

        .route {
            font-style: normal;
            font-weight: 500;
            font-size: 0.8;
            font-family: "Poppins";
            line-height: 18px;
            color: #6d6d6d;
        }
    }

    .avtar {
        width: 2.5rem;
    }

    .user__detail {
        padding-left: 0.6rem;

        .username,
        .usertype {
            text-transform: capitalize;
            font-family: "Poppins";
            font-weight: 600;
            font-size: 0.8rem;
            color: #4d4d4d;
        }

        .usertype {
            font-weight: 500;
        }
    }
}

#sidebar-container {
    position: relative;
    margin-top: 6rem;
    align-items: center;

    .sidebar__icon {
        width: 1.2rem;
    }

    .link {
        width: -webkit-fill-available;
        padding: 0.6rem;
        padding-left: 1.2rem;
        text-decoration: none;
    }

    // .active {
    //     background-color: #4154e8;
    //     .sidebar__icon {
    //         padding: 0.3rem;
    //         background-color: white;
    //         border-radius: 3rem;
    //     }
    //     .nav__title {
    //         color: white;
    //     }
    //}
    .link1 {
        width: -webkit-fill-available;
        padding: 0.6rem;
        padding-left: 1.2rem;
        text-decoration: none;
    }

    .link1:hover {
        background-color: #4154e8;

        .nav__title {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 0.8rem;
            color: white;
            padding-left: 1rem;
        }

        .sidebar__icon {
            padding: 0.3rem;
            background-color: white;
            border-radius: 3rem;
        }
    }

    .nav__title {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 0.8rem;
        color: #494949;
        padding-left: 1rem;
    }
}

.arrow {
    position: absolute;
    cursor: pointer;
    top: 9rem;
    z-index: 100000;
    width: 0.6rem;
    padding: 0.8rem 1rem;
    border: 0.5px solid rgb(233, 227, 227);
    background: white;
    border-radius: 3rem;
}

.right {
    left: 12rem
}

.left {
    left: 3rem !important;
}