@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0&display=swap");

.profile__container {
    padding: 3rem 5rem;
    padding-left: 16rem;
    width: 100%;
    font-family: "Poppins";
    height: 100%;
    background-color: #f9fafc;

    .account__container {
        .title {
            font-weight: 600;
            font-size: 1.2rem;
            font-family: "Poppins";
            padding-left: 0.6rem;
            color: #000000;
        }
        .input__container {
            .profile-img__contianer {
                .profile__img {
                    width: 6rem;
                    margin-right: 0.3rem;
                }
            }
            p {
                font-weight: 600;
                font-family: "Poppins";
                font-size: 0.8rem;
                padding-bottom: 0.3rem;
                color: rgba(0, 0, 0, 0.6);
            }
            .input__field {
                width: 100%;
                input {
                    padding: 0.4rem 0.6rem;
                    font-family: "Poppins";
                }
            }
            .blurred__input {
                background-color: #d9d9d9;
            }
        }
    }
    .box {
        padding: 1rem;
        margin: 2rem 0;
        background: #ffffff;
        border-radius: 6px;
        .title {
            font-weight: 600;
            font-size: 1.1rem;
            font-family: "Poppins";
        }
        .input__label {
            font-weight: 600;
            font-family: "Poppins";

            font-size: 0.8rem;
            color: rgba(0, 0, 0, 0.6);
            margin-top: 1rem;
        }
        .input__field {
            margin-top: 0.5rem;
            input {
                padding: 0.4rem 0.6rem;
                font-family: "Poppins";
            }
        }
        .btn__container {
            margin-top: 1rem;
            .btn {
                background: #ffffff;
                box-shadow: 0px 4px 45px rgba(118, 118, 118, 0.15);
                border-radius: 20px;
                font-weight: 700;
                font-size: 0.6rem;
                font-family: "Poppins";

                color: #4154e8;
                margin-left: 0.3rem;
                text-transform: capitalize;
                padding: 0.4rem 2rem;
            }
            .btn:hover {
                background-color: #d9d9d9;
            }
            .save {
                background-color: #4154e8;
                color: #ffffff;
            }
            .save:hover {
                background-color: #293ee1;
            }
        }
    }
}
@keyframes close {
    from {
        padding-left: 16rem;
    }
    to {
        padding-left: 8rem;
    }
}
@keyframes open {
    from {
        padding-left: 8rem;
    }
    to {
        padding-left: 16rem;
    }
}
.close_transition {
    animation-name: close;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.open_transition {
    animation-name: open;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}