#second_nav {
    margin-left: 6%;
    display: inline-flex;
    justify-content: flex-start;

    .nav_two_item {
        margin-left: 15px;
        margin-top: 10px;
        height: 18px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
    }
    .nav_two_item:hover{
        color: #4154e8;
        padding-bottom: 5px;
        border-bottom: 2px solid #4154e8;
        cursor: pointer;
    }
}

#content_holder {
    position: absolute;
    top: 20%;
    left: 19%;
    background-color: #F9FAFC;
    width: 80vw;
    height: 80vh;

    .left_side_head {
        position: absolute;
        left: 5%;
        top: 13px;
        font-weight: bold;
    }
    

    .btn {
        width: 30%;
        height: 33px;  
        border-radius: 17px;
        font-size: 12px;
        border-color: blue;
        margin-top: 5px;
        padding: 1em 3em;
    }
  #r{
    color: blue;
    font-weight: 80px;
    font-family: 'arial';

  }
    .card_img {
        width: 30px;
        height: 30px;
        margin-left: 5px;
        margin-top: 5px;
        border-radius: 13px;
    }

    .card_heading {
        font-family: Poppins;
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
    }

}