@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0&display=swap");

.user__container {
    font-family: "Poppins";
    background-color: #f9fafc;
    padding: 3rem 5rem;
    padding-left: 16rem !important;
    .users_actions {
        .action-btn {
            padding: 0.6rem 2rem;
            border: 1px solid #4154e8;
        }
    }
    .user-list__table {
        margin-top: 2rem;
        .table__head {
            font-family: "Poppins";
            align-items: center;
            font-style: normal;
            font-weight: 500;
            width: -webkit-fill-available;
            font-size: 0.9rem;
            color: #565656;
            .table__icon {
                width: 1.3rem;
                padding: 0 0.6rem;
            }
            .up_down {
                width: 1rem;
            }
        }
        .table__data {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 0.9rem;
            color: #565656;
        }
    }
}
@keyframes close {
    from {
        padding-left: 16rem;
    }
    to {
        padding-left: 8rem;
    }
}
@keyframes open {
    from {
        padding-left: 8rem;
    }
    to {
        padding-left: 16rem;
    }
}
.close_transition {
    animation-name: close;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.open_transition {
    animation-name: open;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
